@import "tailwindcss";

:root {
  --background: #111112;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rubik: var(--font-rubik);
}

body {
  background: #111112;
  color: #ffffff;
  font-family: var(--font-rubik), system-ui, sans-serif;
}
